ul{
    list-style-type: none;
    padding: 0;
    background-color:#333;
    height: 150px;
    width: 100%;
    margin: -10px;

}
.job{
    font-family: "Book Antiqua";
    margin-top: 50px;
    margin-bottom: 40px;
}

.title{
    font-family: Calibri;
    font-size: x-large;
}

.summary{
    font-size: large;
    font-family: Calibri;
    color: black;

}

.Prof{
    font-size: large;
    font-family: Calibri;
}

img{
    width: 120px;
    margin-left: 15px;
    border-radius: 70%;
    margin-top: 15px;
}



li  {
    margin-top:50px ;
    margin-right: 80px;
    list-style-type: none;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: left;
    margin: -15px;
    padding: 14px 16px;
    text-decoration: none;
}

.bio li:hover {
    background-color: darkslategray;
}

hr.solid1 {
    border-top: 3px solid black;
    margin-top: 30px;
    margin-bottom: 20px;
}

section{
    margin-left: 20px;
}

table {
    margin-left: 10px;
    border-collapse: collapse;
    width: 50%;
}

.ed{
    margin-left:20px;
    font-family: Calibri;
    font-size: x-large;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid darkslategray;
}

tr:hover {background-color: darkslategray;}


.skills th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px white;

}

.skills th:hover{
     transition: ease 0.2s;
     transform: scale(1.3);
}
